body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px; /* newly added */
}

.title {
  background: #e3f4ff;
  font-size: 16px; /* newly added */
  padding: 8px; /* newly added */
  margin-top: 0;
  margin-bottom: 8px; /* newly added */
}

.content {
  background: #e3f4ff;
  /* padding: top, right, bottom, left */
  padding: 16px 8px 16px 8px; /* newly added */
  margin-bottom: 8px; /* newly added */
}

.button-container {
  background: #e3f4ff;
  text-align: center; /* newly added */
  padding: 8px; /* newly added */
}

button {
  display: block; /* newly added */
  margin: auto; /* newly added */
  background: white;
  border: 1px solid #eee;
  /* padding: top, right, bottom, left */
  padding: 8px 24px 8px 24px; /* newly added */
}